<div class="ui main text container segment">
    <div class="ui huge header center aligned"><%= post.title %></div>
    <div class="ui top attached gi">
        <div class="item">
            <div class="content">
                <span><%= post.date.toDateString() %></span>
            </div>
            <div class="description">
                <p><%= post.body %></p>
            </div>
            <a class="ui orange button" href="/posts/<%=post._id%>/edit">Edit</a>
            <form action="/posts/<%= post._id %>?_method=DELETE" id="delete" method="POST">
                <button class="ui red button">Delete</button>
            </form>
        </div>
    </div>
</div>